body {
    padding-top: 5rem;
}
.container {
    max-width: 1140px;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.flashes{
	width: 500px;
	height: 50px;
	background-color: rgb(43, 155, 246);
	color: honeydew;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
}
.form-controlm{
	height: 200px;
	width: 400px;
	border: 1px solid black;
}
.form-control{
	height: 50px;
	width: 300px;
	border: 1px solid black;

}

hr{
	background-color: black;
}
img.profilepic{
	width: 8em;
	padding-bottom: 2em;
	padding-top: 2em;
	
}
div.profile{
	display: flex;
	align-items: center;
	border-top: 0.5em solid rgb(8, 163, 210);
	box-shadow: 5px 10px 18px #888888;
	border-radius: 1em;
	width: 33em;
	
	margin-top: 2em;

}
div.profile_more{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-top: 0.5em solid rgb(8, 163, 210);
	box-shadow: 5px 10px 18px #888888;
	border-radius: 1em;
	width: 33em;
	margin-top: 2em;


}
div.profilemoretop{
	display: flex;
	margin-top: 2em;
	width: 100%;
	padding-bottom: 2em;
}
div.profileaboutme{
	width: 100%;
	padding-left: 2em;
	padding-right: 2em;
}
div.profilemorebtn{
	width: 100%;
	display: flex;
	justify-content: center;

}
div.profilemorebtn>button{
	margin-left: 3em;
	margin-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;

	
}
div.pic{
	
	padding-left: 2em;
	padding-right: 2em;

}
div.info{
padding-left: 1em;
width: 11em;
}
button.vpbtn{
	margin-left: 1em;
}